body {
  margin: 0;
  padding: 0;
  background-color: #f3e4e4;
}

.small {
  height: 1rem;
  width: 1rem;
}

.medium {
  height: 1.5rem;
  width: 1.5rem;
}

.large {
  height: 2rem;
  width: 2rem;
}

.hero-content {
  position: relative;
}

.top-rectangle-fill {
  position: absolute;
  background-color: #ec3838;
  height: 7rem;
  width: 100%;
  top: 0rem;
}

.diagonal-box {
  position: absolute;
  background-color: #ffffff;
  height: 8rem;
  width: calc(100% + 4px);
  top: 6.9rem;
  left: -4px;
  background: linear-gradient(
    to right bottom,
    #ec3838 49.5%,
    #b97f7f 49.85%,
    #f3e4e4 51%
  );
  filter: blur(1px);
}

.my-work-container {
  margin-top: 3rem;
}
