body {
  margin: 0;
  padding: 0;
  background-color: #f3e4e4;
}

.small {
  height: 1.5rem;
  width: 1.5rem;
}

.medium {
  height: 2rem;
  width: 2rem;
}

.large {
  height: 2rem;
  width: 2rem;
}

.hero-content {
  position: relative;
}

.top-rectangle-fill {
  position: absolute;
  background-color: #ec3838;
  height: 16rem;
  width: 100%;
  top: 0rem;
}

.diagonal-box {
  position: absolute;
  background-color: #ffffff;
  height: 12rem;
  width: calc(100% + 4px);
  top: 15.9rem;
  left: -4px;
  background: linear-gradient(
    to right bottom,
    #ec3838 49.5%,
    #b97f7f 49.85%,
    #f3e4e4 51%
  );
}

.my-work-container {
  margin-top: 3rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-picture-container {
  margin-top: 2rem;
  max-height: 30rem;
}

.hero-picture {
  max-height: 30rem;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.35);
  margin-top: 2rem;
}

.my-name {
  font-family: 'playfair display', serif;
  color: #ffffff;
  transform: translateY(-12rem);
  font-size: 3rem;
  font-weight: 400;
  padding-left: 1.5rem;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.75);
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'playfair display', serif;
  font-weight: 400;
  max-height: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h3 {
  font-family: 'playfair display', serif;
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.box {
  margin: 0rem 1rem;
}

p {
  font-family: Roboto;
  line-height: 2rem;
  font-size: 1.5rem;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.hero-links {
  display: flex;
  gap: 1.5rem;
}

.project-card {
  margin-bottom: 5rem;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.30);
}

.screenshot {
  height: 18rem;
  background-color: rgb(132, 103, 212);
}

.project-info {
  min-height:  12rem;
  background-color: #fff;

}

.project-name-row {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
}

.my-work-header {
  margin-bottom: 4rem;
}

.project-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-description {
  padding: 1rem;
  font-family: Roboto;
  font-size: 1.1rem;
}

.footer {
  background-color: #ec3838;
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Roboto;
  font-size: 1.2rem;
}

.contact-me {
  margin-bottom: 3rem;
  font-family: 'playfair display', serif;
}

.info {
  display: flex;

}

.mobile-only-icon {
  display: none;
}

.large-icons {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}